@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.container {
  background: #f2f2f2;
  width: 100%;
}
.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin-top: 50px;
}

.navbar {
  display: flex;
  /* width: 1900px; */
  height: 70px;
  left: 0px;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  background: #313131;
}
.logo {
  display: flex;
  height: 70px;
  width: 188px;
  left: 16px;
  top: 0px;
  border-radius: 0px;
  align-items: center;
  justify-content: space-around;
}
.logo img {
  /* background: url(/img/logo-bg.png); */
  height: 27px;
  width: 27px;
  left: 13px;
  top: 22px;
  border-radius: 0px;
}
.logo-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}
.main-menu {
  width: 722px;
  height: 20px;
  left: 681px;
  top: 25px;
}
.main-menu_list {
  display: flex;
  justify-content: space-between;
}
.main-menu_list__item a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
}
.main-menu_list__item:hover a {
  color: #14b9d5;
}
.search {
  height: 70px;
  width: 68px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #000000;
  align-items: center;
  display: flex;
}
.search img {
  height: 17px;
  width: 17px;
  left: 26px;
  top: 27px;
  border-radius: 0px;
  margin: 0 auto;
}
.header-content {
  margin: 0 auto;
}
.latest-news {
  background-image: url(../img/header-bg.jpeg);
  background-position: center;
  height: 370px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.latest-news__btn {
  text-align: center;
  margin-top: 50px;
}
.latest-news .title {
  margin-top: 0px;
  color: #ffffff;
  padding-top: 150px;
}
.button:first-of-type {
  width: 170px;
  height: 55px;
  background-color: #89ca62;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 20px 20px;
  border-radius: 4px;
}
.button:last-of-type {
  width: 170px;
  height: 55px;
  background-color: #14b9d5;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 20px 30px;
  border-radius: 4px;
  margin-left: 20px;
}
.posts {
  height: 100%;
  text-align: center;
  min-width: 1200px;
  max-width: 1500px;
  margin: 0 auto;
}
.posts .title {
  display: inline-block;
  border: 3px solid #18b4cf;
  width: 330px;
}
.post_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 770px;
  align-content: center;
}
.post_list__item {
  background: #ffffff;
  margin: 10px;
}
.post_list figcaption {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}
.paralax {
  background-image: url(../img/parallax-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  background-size: cover;
}
.paralax .title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}
.paralax .title {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
}
.paralax-grid {
  display: grid;
  padding-top: 100px;
  width: 890px;
  margin: 0 auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}
.paralax-grid > div {
  text-align: center;
  margin-bottom: 50px;
}
.string-photo-grid {
  display: grid;
  margin-top: 50px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
}

.string-photo {
  margin-top: 50px;
}
.st-item img {
  width: 100%;
  height: 100%;
}
.news-grid {
  display: grid;
  margin: 50px 50px;
  grid-template-rows: 270px 450px 450px 280px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  grid-template-areas:
    "nitem1 nitem1 nitem1 nitem2"
    "nitem3 nitem3 nitem4 nitem4"
    "nitem5 nitem5 nitem6 nitem6"
    "nitem7 nitem8 nitem8 nitem8";
}
.news-grid figure {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.news-grid img {
  width: 100%;
  height: fit-content;
}
.news-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding: 14px 14px 14px 0px;
  text-align: right;

  color: #353a3d;
}
.news-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  padding-right: 14px;
  color: #5b6469;
}
.nitem1 {
  grid-area: nitem1;
  height: 279px;
  display: flex;
  align-items: center;
  width: 100%;
}
.nitem2 {
  grid-area: nitem2;
  height: 279px;
}
.nitem2 .news-title {
  grid-area: nitem2;
  text-align: center;
}
.nitem3 {
  grid-area: nitem3;
  height: 450px;
}
.nitem4 {
  grid-area: nitem4;
  height: 450px;
}
.nitem5 {
  grid-area: nitem5;
  height: 450px;
}
.nitem6 {
  grid-area: nitem6;
  height: 450px;
}
.nitem7 {
  grid-area: nitem7;
}
.nitem7 .news-title {
  grid-area: nitem2;
  text-align: center;
  /* height: 259px; */
}
.nitem8 {
  grid-area: nitem8;
  display: flex;
  align-items: center;
  /* height: 259px; */
}
.copyrigt {
}
.copyrigt-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "... copyrigt ...";
  background-color: #000000;
  height: 80px;
  align-items: center;
}
.copyrigt {
  grid-area: copyrigt;
  display: flex;
  justify-content: space-between;
}
/* .c-item1 {
  grid-area: c-item1;
}*/
.c-item1 p {
  color: #ffffff;
}
/* .c-item2 {
  grid-area: c-item2;
} */
