// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,
body {
	margin: 0;
	position: relative;
	overflow-x: hidden;
}
.content {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 4vh;
}
.main-image {
	max-width: 100%;
	img {
		max-width: 100%;
	}
}
