footer {
	max-width: 1170px;
	height: 300px;
	display: flex;
	background: #000000;
	margin: 0 auto;
	div {
		@include flex-center;
		@include mainstyle;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		color: white;
		h2 {
			text-transform: $textUper;
		}
		p:first-child {
			color: $footer-text-color;
			@include flex-center;
			text-align: center;
		}
		.icons {
			display: flex;
			flex-direction: row;
		}
		p:last-child {
			color: $footer-text-color;
		}
	}
}
@media (max-width: 550px) {
	footer {
		div {
			text-align: center;
		}
		h2 {
			font-size: 14px;
		}
		p {
			width: 86%;
			font-size: 11px;
		}
		p:last-child {
			width: 65%;
		}
	}
}
