.top-menu {
	@include mainstyle;
	nav {
		margin: 35px 0 30px;
		ul {
			list-style: none;
			width: 80%;
			@include flex-center;
			justify-content: space-around;
			li {
				font-size: 20px;
				text-transform: $textUper;
			}
			li:hover {
				color: #57a4a4;
				cursor: pointer;
			}
		}
	}
}
@media (max-width: 880px) {
	.top-menu {
		.menu {
			margin: 25px 0px 20px;
		}
		.menu_list__item {
			font-size: 11px;
		}
	}
}
@media (max-width: 760px) {
	.menu {
		position: absolute;
		position: absolute;
		right: 10px;
		top: 0px;
		.menu_list {
			flex-direction: column;
			background: #f5f5f5;
			align-items: flex-start;
			padding: 0 4vh;
			position: absolute;
			transform: translateX(120%);
			transition: transform 0.2s ease;
			width: 30vh;
			top: 4vh;
		}
		.menu_list.active {
			transform: translateX(-35%);
			transition: transform 0.2s ease;
		}
		.burger_menu {
			padding: 4px;
			background-color: black;
			cursor: pointer;
			div {
				width: 25px;
				height: 3px;
				margin: 5px;
				background-color: rgb(255, 255, 255);
				transition: all 0.4s ease;
			}
		}
		.toggle .line1 {
			transform: rotate(-45deg) translate(-5px, 6px);
			background-color: white;
		}
		.toggle .line2 {
			opacity: 0;
		}
		.toggle .line3 {
			transform: rotate(45deg) translate(-5px, -6px);
			background-color: white;
		}
	}
	.main-image {
		margin-top: 80px;
	}
}
