@mixin mainstyle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 22px;
	color: #4e4e4e;

}
@mixin flex-center {
	display: flex;
	align-items: center;
}
