.posts {
	h2 {
		@include mainstyle;
		text-transform: $textUper;
		font-weight: bold;
	}
	.post-items {
		@include flex-center;
		flex-wrap: wrap;
		justify-content: space-between;
		.post {
			width: 475px;
			// height: 140px;
			display: flex;
			margin-bottom: 20px;
			h2 {
				font-weight: bold;
				font-size: 16px;
				text-transform: $textUper;
			}
			.post-img {
				width: 160px;
				height: 140px;
				margin-bottom: 11px;
			}
			.post-descr {
				@include mainstyle;
				h4 {
					font-weight: bold;
					font-size: 16px;
					margin: 0;
				}
				span {
					font-size: 12px;
					color: #7c7c7c;
				}
				p {
					font-size: 14px;
					color: #5c5c5c;
				}
			}
		}
	}
}
@media (max-width: 1170px) {
	.post-descr {
		padding-left: 20px;
	}
}

@media (max-width: 880px) {
	.post {
		width: 545px;
	}
	.post .post-descr {
		padding-left: 10px;
	}
}

@media (max-width: 550px) {
	.post {
		flex-direction: column;
	}
	.post .post-descr {
		padding-left: 0px;
		p {
			display: none;
		}
	}
}
