@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

body {
	background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/store/bg_main.jpg);
	background-repeat: repeat;
	background-position: center top;
	font-family: 'Gideon Roman', cursive;
	margin: 0;
	padding: 0;
}

.page-wrap {
	padding: 0 10vh;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.BasketPage {
	.BasketPage-wrap {
		display: flex;
		justify-content: space-around;
	}
}
.WishPage {
	h1 {
		color: #969aa1;
		text-transform: uppercase;
		font-size: 3em;
		letter-spacing: 10px;
		text-align: center;
		margin: 10px 0;
	}
}
