.price-container {
	width: 300px;
	height: 405px;
	margin: 0 10px;
	background-color: #131518;
	border: solid 3px #2b2e33;
	color: #969aa1;

	aside {
		div {
			display: flex;
			justify-content: space-between;
			p {
				margin: 10px;
			}
		}
		h2 {
			text-align: center;
		}
		.btnBuy {
			display: flex;
			justify-content: center;
			margin-top: 20px;
			button {
				width: 250px;
				border-radius: 5px;
				background-color: #2b2e33;
			}
		}

		.promopcod {
			align-items: center;
			input {
				height: 20px;
			}
		}
		.line {
			height: 2px;
			width: 260px;
			background: #2b2e33;

			margin: 10px 20px;
		}
	}
}
