.modal-order-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;

	.modal-order {
		width: 300px;
		height: 500px;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		padding: 40px;
		z-index: 1000;
		.modal-order-title {
			text-align: center;
			p {
				font-size: 30px;
				font-weight: bold;
			}
		}
		.modal-order-info {
			h4 {
			}
			ul {
				padding: 0;
				li {
					display: flex;
					justify-content: space-between;
				}
			}
		}
		.modal-order-footer {
			text-align: center;
			p {
				font-size: 30px;
				font-weight: bold;
			}
		}
	}
}
