.wraper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* .table-box {
	width: 40px;
	height: 40px;
	border: 1px solid goldenrod;
} */
/* .table-box.active {
	background-color: blue;
}
.table-box.red {
	background-color: red;
}
.table-box.green {
	background-color: green;
} */
.btn-wraper {
	display: flex;
	justify-content: center;
}
.counter-wraper {
	height: 80px;
	display: flex;
	justify-content: space-around;
}
#counter-user {
	width: 70px;
	height: 70px;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}
#counter-PC {
	width: 70px;
	height: 70px;
	background-color: indianred;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
}

.bigTable {
	height: 100%;
	border: 1px solid black;
}
.elem {
	display: flex;
	justify-content: center;
}
.tabRow {
	height: 50px;
	border: 1px solid green;
}
.tabCol {
	width: 50px;
	border: 1px solid red;
}
.tabCol.active {
	background-color: royalblue;
}
.tabCol.red {
	background-color: red;
}
.tabCol.green {
	background-color: green;
}
