.wish-card {
	width: 300px;
	margin: 10px;
	// display: flex;
	// flex-direction: column;
	background-color: #131518;
	border: solid 3px #2b2e33;
	color: #969aa1;

	.wish-top-content {
		display: flex;
		justify-content: space-between;

		.wish-image_wrap {
			height: 180px;
			display: flex;
			width: 250px;
			margin: 10px;
			img {
				height: 180px;
				margin: 0 auto;
			}
		}
		.wish-star {
			margin: 10px;
			a {
				color: yellow;
				svg {
					height: 2em;
					width: 2em;
					fill: currentcolor;
				}
			}
			h3 {
				width: 0.7em;
				text-align: center;
				word-wrap: break-word;
				font-size: 1.4em;
				margin: 0 auto;
				margin-top: 10px;
				text-transform: uppercase;
			}
		}
	}
	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px;

		h3 {
			font-size: 20px;
			margin-block-start: 0;
			margin-block-end: 0;
			text-align: center;
			text-transform: uppercase;

			span {
				font-size: 10px;
				text-transform: uppercase;
			}
		}
		.price {
			margin-block-start: 15px;
			margin-block-end: 0;
			font-size: 15px;
			font-weight: bold;
			span {
				font-size: 10px;
			}
		}
		.color {
			font-size: 25px;
			font-weight: bold;
			margin-block-start: 0;
			margin-block-end: 0;
			span {
				font-size: 20px;
			}
		}
	}
}
