@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
.container {
  background-image: url(../img/background.png);
  height: 130vh;
  background-size: cover;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
}
.header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.header a:hover {
  color: #3cb878;
}
.header a img:hover {
  filter: invert(58%) sepia(53%) saturate(455%) hue-rotate(96deg)
    brightness(93%) contrast(95%);
}
.header-right {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}
.header-text {
  font-size: 14px;
  line-height: 14px;
  position: relative;
}
.header-text::before {
  content: "";
  width: 1px;
  height: 19px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  right: 195px;
}
.form {
  height: 600px;
  width: 444px;
  left: calc(50% - 444px / 2);
  top: calc(50% - 600px / 2 - 60px);
  background-color: white;
  position: relative;
}
.form-head {
  display: flex;
  justify-content: space-between;
  margin: 0px 60px;
  padding-top: 30px;
}
.form-head h2 {
  font-size: 20px;
  line-height: 20px;
}
.form-head h2::before {
  content: "";
  height: 18px;
  width: 18px;
  position: absolute;
  background: #3cb878;
  left: 0px;
}
.form-head a {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
}
.button {
  height: 48px;
  width: 160px;
  background: #305db8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 16px;
}
.button:hover {
  background: #022263;
}
.button:nth-child(2) {
  background-color: #df4a32;
}
.button:nth-child(2):hover {
  background-color: #ab1f09;
}
.or {
  margin: 10px 0px 11px;
  color: #848484;
  font-size: 14px;
  text-align: center;
  position: relative;
}
.or::before {
  content: "";
  background-color: #f2f2f2;
  position: absolute;
  height: 1px;
  width: 152px;
  top: 9px;
  left: 60px;
}
.or::after {
  content: "";
  background-color: #f2f2f2;
  position: absolute;
  height: 1px;
  width: 152px;
  top: 9px;
  right: 60px;
}
.buttons a {
  position: relative;
}
.buttons a::after {
  content: "";
  height: 28px;
  width: 1px;
  background-color: #0a162f;
  position: absolute;
  opacity: 0.1;
  left: 55px;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group input {
  width: 324px;
  height: 46px;
  font-size: 14px;
  color: #bebebe;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.form-group input:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
  border: 1px solid #f2f2f2;
}
.form-group .button {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  margin: 20px 0px 40px;
}
.form-group .button:hover {
  background: #01813f;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.terms-link {
  text-decoration: none;
  color: #3cb878;
  padding-left: 3px;
}
.terms-link:hover {
  text-decoration: underline;
  color: #01813f;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #adb5bd;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
}
.custom-checkbox:checked + label::before {
  border-color: #eef0ed;
  background-image: url("../img/Vector.png");
}
