@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.body{
    max-width: 1280px;
}
.menu_nav{
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.menu_nav__list{
    margin: 0px 30px ;
}
.menu_nav__list___item{
    display: inline-block;
}
.menu_nav__list___item a{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ff0000;
    margin: 25px;
    display: block;
    letter-spacing: 2.7px;
    text-decoration: none;
}
.logo{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.main_content{
    max-width: 1280px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.heading{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.main_text{
    margin: 10px 68px;
}
.button{
    background: #ff0000;
    border-radius: 14px;
    height: 51px;   
    width: 191px;
    margin-top: 30px;
}
.footer{
    max-width: 1280px;
    color: black; /* Цвет текста */
    margin-right: 100px;
    margin: 0 auto;
}
.footer_text{
    right: 0; bottom: 0; /* Левый нижний угол */
    font-family: 'Montserrat', sans-serif;
    padding: 10px; /* Поля вокруг текста */
    text-align: right;
}
