@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* span {
	color: #18cfab;
}
* a {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
}
.container {
	min-width: 1200px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	margin: 0 auto;
}
.home {
	height: 1012px;
	background-image: url(../img/section-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.navigation {
	background: rgba(94, 93, 88, 0.6);
	display: flex;
	justify-content: space-between;
	padding: 0px 120px;
}
.logo {
	height: 120px;
	width: 240px;
	border-radius: 0px;
	display: flex;
	align-items: center;
}
.logo h2 {
	background-image: url(../img/Polygon\ 1\ 1.svg);
	height: 67px;
	width: 58px;
	border-radius: 0px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 40px;
	line-height: 31px;
}
.logo span {
	font-weight: bold;
}
.logo p {
	font-size: 32px;
	font-weight: normal;
	line-height: 48px;
	color: white;
}
.menu {
	display: flex;
	align-items: center;
}
.menu-list {
	display: flex;
	position: relative;
}

.menu-list-item a {
	text-decoration: none;
	text-transform: uppercase;
	margin: 0px 10px;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.6);
}
.menu-list-item a:hover {
	color: #18cfab;
	border-bottom: 2px solid #18cfab;
	padding-bottom: 50px;
}
.search_icon {
	height: 20px;
	width: 21px;
	border-radius: 0px;
}
.tagline {
	height: 213px;
	width: 769px;
	border-radius: 0px;
	margin: 0 auto;
	text-align: center;
	padding-top: 250px;
	color: white;
}
.tagline .text {
	font-size: 78px;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 22px;
}
.tagline .text:first-child {
	font-size: 35px;
	line-height: 1px;
}
.tagline .text:last-child {
	font-size: 33px;
	line-height: 1px;
	color: #d4d4d4;
	font-weight: normal;
	text-transform: none;
}
.buttons {
	display: flex;
	justify-content: center;
	margin-top: 160px;
}
.button {
	height: 63px;
	width: 169px;
	border-radius: 5px;
	background: #18cfab;
	box-shadow: 0 -5px white;
	margin: 13px;
}
.buttons .button:last-child {
	background: #00cbf6;
}
.button a {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 32px;
	color: white;
}
.option-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 300px;
	margin-top: 1px;
}
.option {
	background-color: #18cfab;
	display: inline-grid;
	grid-template-rows: 1fr 100px;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}
.option img {
	margin: 0 auto;
}
.option p {
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
}
.option:nth-child(odd) {
	background-color: #1c2a33;
	color: #18cfab;
}
.our_services {
	width: 1160px;
	margin: 0 auto;
}
.title {
	font-size: 36px;
	line-height: 40px;
	position: relative;
	text-align: center;
	width: 1160px;
	margin: 0 auto;
	padding-top: 70px;
}
.title::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 78px;
	background-color: #18cfab;
	top: 124px;
	left: 540px;
}
.title::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 78px;
	background-color: #18cfab;
	top: 128px;
	left: 553px;
}
.list {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 100px;
}
.list-item {
	border: 1px solid #edefef;
	height: 32px;
	width: 170px;
	background: #f8fcfe;
	padding: 15px 20px 16px;
	position: relative;
	color: #717171;
	font-size: 16px;
	line-height: 39px;
	font-weight: normal;
}
.list-item:hover {
	border: 1px solid #18cfab;
}
.our_services .list-item.active::after {
	content: '';
	height: 15px;
	width: 15px;
	position: absolute;
	background-color: #18cfab;
	top: 55px;
	left: 85px;
	transform: rotate(45deg);
}
.our_services .list-item.active {
	background: #18cfab;
	color: white;
}
.services-description {
	display: none;
	align-items: center;
	margin-top: 20px;
}
.services-description.active {
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.services-description .text {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #777777;
	text-align: start;
	padding-left: 15px;
}
.purchase {
	height: 476px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 0px;
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.7) 0%,
			rgba(0, 0, 0, 0.7) 100%
		),
		url(../img/Step-Project-Ham/Sections-background/section-2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 90px;
}
.purchase .main-text {
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	color: #18cfab;
	text-transform: uppercase;
	padding-top: 126px;
}
.purchase .text {
	font-size: 16px;
	line-height: 40px;
	color: #d8d8d8;
	padding-top: 12px;
}
.purchase .button {
	margin-top: 80px;
}
.our_amazing_work {
	background-color: #e9edef;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.our_amazing_work .list {
	background-color: #e9edef;
	height: 58px;
}
.our_amazing_work .list-item {
	font-size: 14px;
	padding: 14px 15px;
	width: auto;
	border: 1px solid #dadada;
	background-color: #e9edef;
}
.our_amazing_work .list-item:hover {
	border: 2px solid #18cfab;
	color: #18cfab;
}
.our_amazing_work a:hover {
	color: #18cfab;
}
.content-box {
	max-width: 1160px;
	margin: 0 auto;
}
.galery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows: 1fr; */
	margin: 70px 0px 70px 0px;
}
.block {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.block.hide {
	display: none;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.our_amazing_work .block:hover .block-img {
	visibility: hidden;
}

/* .galery .block-img {
	width: 100%;
	height: 100%;
} */
.block-img {
	position: absolute;

	height: 100%;
	width: 100%;
}
.block-icon {
	padding: 50px 0 20px 0;
}
.galery .main-text {
	padding: 0px 0px 10px;
	font-weight: bold;
	font-size: 14px;
	color: #18cfab;
	text-transform: uppercase;
}
.galery .text {
	padding-bottom: 70px;
	font-weight: 300;
	font-size: 12px;
	color: #8a8a8a;
}
.our_amazing_work .button {
	display: flex;
	margin: 0 auto;
	margin-bottom: 90px;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: none;
	border: none;
	color: white;
	font-size: 18px;
}
.breaking-news .galery {
	/* grid-template-rows: 1fr 1fr; */
	grid-gap: 40px 36px;
	margin: 0 auto;
	width: 1160px;
	margin-top: 70px;
}
.news-img {
	height: 200px;
	width: 100%;
}
.breaking-news .block-img {
	position: initial;
}
.breaking-news .main-text {
	text-transform: none;
	padding: 10px 10px;
	font-size: 18px;
	line-height: 39px;
	color: #717171;
}
.breaking-news .block {
	display: block;
}
.block .text {
	display: flex;
}
.block .autor {
	padding: 0px 10px;
	position: relative;
}
.block .autor::after {
	content: '';
	height: 10px;
	width: 1px;
	background-color: #777777;
	position: absolute;
	left: 73px;
}
.block:hover .main-text {
	color: #18cfab;
}
.block:hover .date {
	background-color: #18cfab;
}
.block .date {
	position: absolute;
	height: 68px;
	width: 70px;
	top: 0px;
	right: 0px;
	background-color: #203e38;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.date .today {
	color: white;
	font-size: 16px;
	line-height: 25px;
}
/* СЛАЙДЕР */ /* СЛАЙДЕР */ /* СЛАЙДЕР */ /* СЛАЙДЕР */ /* СЛАЙДЕР */ /* СЛАЙДЕР */ /* СЛАЙДЕР */
.SliderSection {
	height: 850px;
	background-image: url(../img/section3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.SliderSection .title {
	color: white;
}
.Brakets {
	padding: 90px 0 30px;
}
.sluderButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: 1px solid #bbbbbb;
	height: 31px;
	width: 31px;
}
#slider {
	display: flex;
	justify-content: space-between;
	width: 500px;
	align-items: center;
}
#slider button img {
	filter: invert(98%) sepia(0%) saturate(1%) hue-rotate(276deg)
		brightness(83%) contrast(76%);
	width: 12px;
}
#slider button:hover img {
	filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(236deg)
		brightness(104%) contrast(101%);
}
#slider button:hover {
	background-color: #18cfab;
}
.review {
	display: none;
	flex-direction: column;
	align-items: center;
	width: 1160px;
	line-height: 30px;
	color: #bbbbbb;
}
.review img {
	border: 10px solid rgba(31, 218, 181, 0.3);
	border-radius: 50%;
}
.reviewAutor {
	font-size: 25px;
	margin: 40px 0 20px;
}
.reviewWork {
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #bbbbbb;
}
.photoAutor {
	margin: 20px 0 50px;
	width: 120px;
}
.SmallPfotoAutor {
	border-radius: 50%;
	border: 10px solid rgba(31, 218, 181, 0.3);
	mix-blend-mode: normal;
}

.SmallPfotoAutor.up {
	margin-bottom: 30px;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background-color: #22353f;
}
footer .text {
	color: #aeaeae;
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
}
#button-up {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 100px;
	width: 20px;
}

#button-up:hover {
	cursor: pointer;
	filter: invert(57%) sepia(97%) saturate(377%) hue-rotate(118deg)
		brightness(97%) contrast(89%);
}

.up {
	margin-bottom: 43px;
}
