.basket-card {
	background-color: #131518;
	width: 700px;
	margin-bottom: 20px;
	height: 200px;

	border: solid 3px #2b2e33;
	.wrap {
		h2 {
			margin-block-start: 0;
			margin-block-end: 0;
		}
		.content {
			display: grid;
			grid-template-columns: 230px 1fr 1fr 35px;
			grid-gap: 10px;
			color: #969aa1;
			.img-wrap {
				height: 150px;
				margin: 20px;
				img {
					height: 100%;
					margin: 0 auto;
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
				}
				img:hover {
					transform: scale(1.3);
					cursor: pointer;
				}
			}
			.basket-info {
				// 	margin-top: 35px;
				 	p {
						margin-block-start: 0;
					margin-block-end: 0;
				 	}
			}
			.addRemoveBtn-wrap {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-top: 35px;
				.addRemoveBtn {
					grid-area: 'addRemoveBtn';
					input {
						width: 30px;
					}
				}
				.price-wrap {
					p {
						text-align: end;
						span {
							font-weight: bold;
							font-size: 23px;
						}
					}
				}
			}
			.button-trash {
				display: flex;
				justify-content: center;
				margin-top: 35px;
				.trashIcon {
					cursor: pointer;
					opacity: 0.7;
				}
				.trashIcon:hover {
					cursor: pointer;
					opacity: 1;
				}
			}
		}
	}
}
