@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.container {
  height: 100%;
  max-width: 1280px;
  text-align: center;
  align-items: center;
  margin: 50px auto;
}
.main-logo {
  /* display: flex; */
}
.main-logo__item a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.main-logo__item-color {
  color: royalblue;
}
.top-menu {
  height: 80px;
  background-color: #35444f;
  display: flex;
  justify-content: center;
}
.top-menu_list {
  display: flex;
}
.top-menu_list__item {
  text-align: center;
  height: 100%;
  list-style-type: none;
  align-items: center;
}
.top-menu_list__item a {
  color: white;
  border-left: 1px solid #ffffff;
  padding: 26px 33px;
  text-decoration: none;
  background-color: #35444f;
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
}
.top-menu_list__item:hover a {
  background-color: #222f3a;
}
.main-block {
  margin-top: 50px;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.aside-menu {
  height: 405px;
  width: 350px;
  border: 1px solid black;
}
.aside-menu_list {
  padding-left: 0;
  margin: 0 auto;
}
.aside-menu_list__item {
  text-align: left;
  padding: 27px;
  list-style-type: none;
}
.aside-menu_list__item a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  color: #485863;
}
.aside-menu_list__item:hover {
  background-color: #dbdbdb;
  padding-left: 50px;
}
.aside-menu_list__item:hover a {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 27px;
}
.content {
  width: 890px;
  margin-left: auto;
}
.content-img {
  position: relative;
  height: 529px;
  border: 1px solid black;
}
.goat-position {
  display: block;
  margin: 0 auto;
  height: 380px;
  width: 320px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.content-text {
  text-align: left;
}
.content-text__item {
  margin-top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.footer-menu {
  height: 70px;
  background-color: rgba(99, 105, 110, 0.48);
  display: flex;
  margin-top: 50px;
}
.footer-menu_list {
  display: flex;
  width: 930px;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
/* .footer-menu_list__item {
   text-align: center;
   height: 70px; 
  list-style-type: none;
  align-items: center; 
} */
.footer-menu_list__item a {
  color: #0c1927;
  font-size: 28px;
  font-family: Roboto;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
}
.footer-menu_list__item:hover a {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
.copyright {
  color: #0c1927;
  font-size: 28px;
  font-family: Roboto;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}
