.centered-content {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.tabs {
	display: flex;
	/* margin-bottom: 30px; */
}

.tabs-title {
	padding: 20px;
	background-color: #23201d;
	color: #937341;
	cursor: pointer;
}

.tabs-title.active {
	background-color: #937341;
	color: #23201d;
}
.tab-content {
	display: none;
	margin: 10px 50px 0px 50px;
}
.tab-content.active {
	display: block;
}
