@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.container {
  background-image: url(../img/background.png);
  background-size: cover;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.header {
  width: 1028px;
  height: 61px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 51px;
}
.logo {
  width: 180px;
}
.logo:hover {
  filter: invert(52%) sepia(73%) saturate(3918%) hue-rotate(350deg)
    brightness(100%) contrast(91%);
}
.logo h2 {
  margin-left: 58px;
  display: flex;
  flex-direction: column;
}
.logo a {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
}
.logo span {
  font-size: 18px;
  font-weight: 300;
}
.logo img {
  float: left;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.contact a:hover {
  color: #f26522;
}
.tours {
  width: 1030px;
  height: 560px;
  padding-top: 30px;
  margin: 0 auto;
}
.tours-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
.card {
  text-align: center;
  position: relative;
}
.card img {
  width: 100%;
}
.card figcaption a {
  font-size: 18px;
}
.price-block-wrapper {
  position: absolute;
  width: 100%;
  top: 172px;
  opacity: 0;
}
.card:hover .price-block-wrapper {
  opacity: 1;
  transition: bottom 0.4s;
}
.card:hover a {
  color: #f26522;
}
.price-block {
  /* height: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal; */
  background-color: #f26522;
  /* color: white; */
}
.from {
  text-align: left;
  padding: 8px 0px 0px 15px;
}
.content {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 0 15px;
}
.content i {
  padding-left: 16px;
  padding-top: 1px;
}
.price {
  font-size: 20px;
  line-height: 20px;
}
.view-details {
  font-size: 14px;
  line-height: 14px;
}
.view-details::after {
  content: url("../img/Vector.svg");
  padding-left: 16px;
}
*figcaption {
  padding-top: 10px;
}
footer {
  text-align: center;
  font-size: 12px;
  padding: 20px 0px 10px;
}
