@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
header {
	display: flex;
	height: 100px;
	/* max-width: 1200px; */
	align-items: center;
	justify-content: space-evenly;
	background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/header/header_bg.png);
	background-size: cover;


	.logo-title {
		margin-block-start: 0;
		margin-block-end: 0;
		margin: 0 0 0 50px;
		.logo-img {
			opacity: 0.7;
		}
		.logo-img:hover {
			opacity: 1;
			cursor: pointer;
		}
	}

	.main-nav {
		width: 900px;
		margin: 0 50px 0 0;

		.nav-list {
			display: flex;
			justify-content: end;
			align-items: center;
			margin-block-start: 0;
			margin-block-end: 0;
			.nav-item {
				list-style: none;
				margin-left: 50px;
				.nav-item-link {
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 4px;
					font-size: 25px;
					color: #cecece;
					font-family: 'Gideon Roman', cursive;
					opacity: 0.7;
					.star-icon {
						fill: #cecece;
						height: 1.7em;
						width: 1.7em;
						margin-top: 8px;
						opacity: 0.7;
					}
					.star-icon:hover {
						opacity: 1;
					}
				}
				.nav-item-link:hover {
					opacity: 1;
				}
			}
		}
	}
}
