.product-card {
	background: linear-gradient(to top, #8e0e00, #1f1c18);
	width: 300px;
	border-radius: 20px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	color: yellow;
	.product-top-content {
		display: flex;

		.product-image_wrap {
			display: flex;
			align-items: center;
			margin-top: 10px;
			box-sizing: border-box;
			.product-image {
				height: 250px;
				width: 250px;
				margin: 0 auto;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
			}
		}
		.product-wish-content {
			.nav-item-link {
				color: yellow;
				svg {
					height: 3em;
					width: 3em;
					stroke: currentcolor;
					fill: currentcolor;
					stroke-width: 0;
				}
			}
			.aside-text {
				width: 0.7em;
				text-align: center;
				word-wrap: break-word;
				font-size: 30px;
				margin-block-start: 0;
				margin-block-end: 0;
				margin: 0 auto;
				margin-top: 10px;
				text-transform: uppercase;
			}
		}
	}

	Button {
		// color: red;
		font-weight: bold;
		font-size: 25px;
		background-color: yellow;
		margin: 20px 50px;
		border-radius: 10px;
	}
	Button:hover {
		cursor: pointer;
	}
}
