.modal,
.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: rgba(0, 0, 10, 0.2);
	backdrop-filter: blur(10px);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	.modal-body {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 100px;
		z-index: 999;
	}
}
// .overlay {
// 	background: rgba(0, 0, 0, 0.2);
// }
.modal.open {
	display: flex;
}
.modal.close {
	display: none;
}
