.modal,
.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: rgba(0, 0, 10, 0);
	backdrop-filter: blur(10px);

	.content {
		display: flex;
		width: 50vw;
		margin: 0 auto;
		margin-top: 20vh;
		align-items: center;
		flex-direction: column;

		h3 {
			font-size: 30px;
		}
		p {
			font-size: 50px;
			font-weight: bolder;
		}
		.btn-container {
			display: flex;
		}
	}
	Button {
		color: yellow;
	}
}

.modal.open {
	display: flex;
}
.modal.close {
	display: none;
}
