.form-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	.form {
		position: fixed;
		height: 500px;
		width: 500px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		padding: 10px;
		z-index: 1000;
		.input-container {
			display: flex;
			flex-direction: column;
			height: 70px;
			input {
				margin: 10px;
				height: 30px;
				border-radius: 10px;
			}
			p {
				color: red;
				margin-block-start: 0em;
				margin-block-end: 0em;
				margin: 0 10px;
				font-size: 14px;
			}
		}
		.btn-container {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
			button {
				width: 100px;
			}
		}
	}
}
