.info {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	margin: 15px 0 0 15px;

	h3 {
		font-size: 30px;
		margin-block-start: 0;
		margin-block-end: 0;
		color: deepskyblue;
		text-align: center;

		span {
			font-size: 20px;
			color: yellow;
		}
	}
	.price {
		margin-block-start: 15px;
		margin-block-end: 0;
		font-size: 30px;
		color: deepskyblue;
		font-weight: bold;
		span {
			color: yellow;
			font-size: 20px;
		}
	}
	.color {
		font-size: 30px;
		color: deepskyblue;
		font-weight: bold;
		margin-block-start: 0;
		margin-block-end: 0;
		span {
			color: yellow;
			font-size: 20px;
		}
	}
}
